@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Permanent+Marker&display=swap');

:root {
  --dark: #0c090d;
  --pink: #e01a4f;
  --blue: #53b3cb;
  --orange: #f15946;
  --yellow: #f9c22e;

  --mainFont: 'Josefin Sans', sans-serif;
  --drawnFont: 'Permanent Marker', cursive;
  --heavy: 700;
  --medium: 500;
  --regular: 400;
}
body {
  font-family: var(--mainFont);
  font-weight: var(--regular);
}

section {
  height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}
li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.container {
  height: 100vh;
}
ul {
  display: flex;
  margin: 0;
}
/* Homepage */
#home {
  background-color: var(--dark);
}
#home nav {
  color: var(--orange);
}
#home li:hover {
  color: var(--blue);
}
#home h1 {
  color: var(--yellow);
}
#home h3 {
  color: var(--pink);
}
#home h3 span {
  color: var(--blue);
}
/* About me */

#about-me {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 1fr 0.1fr;
}
.about-main {
  grid-column: 1/2;
  background-color: var(--blue);
}
#about-me h1 {
  color: var(--pink);
}
#about-me h1 span {
  color: var(--yellow);
}
#about-me li:hover {
  color: var(--yellow);
}

/* Projects */

#projects {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}
#projects nav {
  margin-right: 2rem;
}
#projects h1 {
  color: var(--blue);
  margin-left: 1.5rem;
}

.projects-main {
  grid-column: 2/3;
  background-color: var(--pink);
}
.projects-top {
  display: flex;
  justify-content: space-between;
}

/* Contact */
#contact {
  background-color: var(--pink);
  display: grid;
  grid-template-columns: 1fr 0.1fr;
}

.contact-main {
  grid-column: 1/2;
  background-color: var(--yellow);
}
