@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Permanent+Marker&display=swap');

:root {
  --dark: #0c090d;
  --pink: #e01a4f;
  --blue: #53b3cb;
  --orange: #f15946;
  --yellow: #f9c22e;

  --mainFont: 'Josefin Sans', sans-serif;
  --drawnFont: 'Permanent Marker', cursive;
  --heavy: 700;
  --medium: 500;
  --regular: 400;
}
body {
  font-family: var(--mainFont);
  font-weight: var(--regular);
  background-color: var(--dark);
}

section {
  height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}
li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.container {
  margin-inline: auto;
  max-width: 1400px;
  height: 100vh;
  /* width: 100vw; */
}
ul {
  display: flex;
  margin: 0;
}
/* Homepage */
#home {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 1fr 0.9fr;
}

.home-left {
  grid-column: 1/2;
}
.home-right {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
}
.home-square {
  background-color: var(--blue);
  width: 600px;
  height: 600px;
  rotate: 45deg;
  /* position: absolute; */
  right: -5rem;
  display: grid;
  place-content: center;
}
.home-image {
  rotate: -45deg;
  scale: 90%;
}
.home-hero {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-hero h3 {
  margin-top: -1rem;
  color: var(--pink);
}
.home-hero h3 span {
  color: var(--blue);
}
.home-scroll {
  color: var(--blue);
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--drawnFont);
}
#home nav {
  color: var(--orange);
  display: grid;
  place-content: left top;
  margin-left: -4rem;
}
#home li:hover {
  color: var(--blue);
}
#home h1 {
  color: var(--yellow);
  font-size: 3rem;
}

/* About me */

#about-me {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 1fr 0.1fr;
}
.about-main {
  grid-column: 1/2;
  background-color: var(--blue);
}
#about-me h1 {
  color: var(--pink);
}
#about-me h1 span {
  color: var(--yellow);
}
#about-me li:hover {
  color: var(--yellow);
}

/* Projects */

#projects {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}
#projects nav {
  margin-right: 2rem;
}
#projects h1 {
  color: var(--blue);
  margin-left: 1.5rem;
}

.projects-main {
  grid-column: 2/3;
  background-color: var(--pink);
}
.projects-top {
  display: flex;
  justify-content: space-between;
}

/* Contact */
#contact {
  background-color: var(--pink);
  display: grid;
  grid-template-columns: 1fr 0.1fr;
}

.contact-main {
  grid-column: 1/2;
  background-color: var(--yellow);
}
